<div class="services-container row row-cols-1 row-cols-md-2 g-4" data-filtered-queries-target="services">
<% services.each do |service| %>
  <div class="col">
    <div class="card" style="position: relative;">
    <!--
      <% service.user.photos.each do |photo| %>
        <%= cl_image_tag photo.key, background: 'black', aspect_ratio: '2.0', crop: :crop, class: "card-service-provider-image" %>
      <% end %>
     -->
      <%= cl_image_tag service.photo.key, background: 'black', aspect_ratio: '2.0', crop: :crop, class: "card-service-provider-image" %>
      <div class="card-body">
        <div class="card-title-and-tags">
          <h5 class="card-title" style="margin-bottom: 0;"><%= service.title.capitalize %></h5>
          <div class="pet_categories">
          <% service.pet_categories.each do |pet_category| %>
            <p><%= pet_category.pet_category %></p>
          <% end %>
          </div>

          <%# <ul class="list-inline">
            <li class="list-inline-item tag-icon"><i class="fa-solid fa-dog"></i></li>
            <li class="list-inline-item tag-icon"><i class="fa-solid fa-cat"></i></li>
          </ul> %>
        </div>
        <h5 class="card-service-provider"><%= "#{service.user.first_name} #{service.user.last_name}" %></h5>
        <p class="card-text"><%= service.address %></p>
        <div class="card-price-and-details-btn">
          <b class="card-service-price"><%= service.price %>€</b>
          <%= link_to "see details", service_path(service), class: "btn btn-primary"%>
        </div>
      </div>
    </div>
  </div>
<% end %>
</div>
<div style="width: 100%; height: 600px;"
      data-controller="map"
      data-map-markers-value="<%= @markers.to_json %>"
      data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
</div>
