<div class="container" data-controller="filtered-queries">
  <div class="services-queries">
    <div class="services-query-form" >
      <%= form_with url: services_path, method: :get, data: { filtered_queries_target: "query", action: "submit->filtered-queries#filter" }, class: "d-flex query-form" do %>
          <%= text_field_tag :query,
                params[:query],
                class: "form-control",
                placeholder: "Search a type of service, a name, an address... ",
                style: "margin-bottom: 1em;"
            %>
          <%= submit_tag "Apply filters", name: "", class: "btn btn-primary", style: "width: 200px;" %>
        <% end %>
    </div>
    <hr>
    <div class="filter-buttons-container">
      <div class="filter-button">
        <button class="filter-dog-button" data-action="click->filtered-queries#highlight" data-filtered-queries-dog-value="">
          <%= image_tag "icons/dog.svg", class: "icon" %>
          <p>dog</p>
        </button>
      </div>
      <div class="filter-button">
        <button class="filter-cat-button" data-action="click->filtered-queries#highlight" data-filtered-queries-cat-value="">
          <%= image_tag "icons/cat.svg", class: "icon" %>
          <p>cat</p>
        </button>
      </div>
      <div class="filter-button">
        <button class="filter-kangaroo-button" data-action="click->filtered-queries#highlight" data-filtered-queries-kangaroo-value="">
          <%= image_tag "icons/kangaroo.svg", class: "icon" %>
          <p>kangaroo</p>
        </button>
      </div>
      <div class="filter-button">
        <button class="filter-rabbit-button" data-action="click->filtered-queries#highlight" data-filtered-queries-rabbit-value="">
          <%= image_tag "icons/rabbit.svg", class: "icon" %>
          <p>rabbit</p>
        </button>
      </div>
      <div class="filter-button">
        <button class="filter-ferret-button" data-action="click->filtered-queries#highlight" data-filtered-queries-ferret-value="">
          <%= image_tag "icons/ferret.svg", class: "icon" %>
          <p>ferret</p>
        </button>
      </div>
      <div class="filter-button">
        <button class="filter-snake-button" data-action="click->filtered-queries#highlight" data-filtered-queries-snake-value="">
          <%= image_tag "icons/snake.svg", class: "icon" %>
          <p>snake</p>
        </button>
      </div>
      <div class="filter-button">
        <button class="filter-guinea-pig-button" data-action="click->filtered-queries#highlight" data-filtered-queries-pig-value="">
          <%= image_tag "icons/guinea-pig.svg", class: "icon" %>
          <p>guinea pig</p>
        </button>
      </div>
    </div>
  </div>

  <div class="services-content-container">
    <div class="services-container row row-cols-1 row-cols-md-2 g-4" data-filtered-queries-target="services">
      <%= render "services", services: @services %>
    </div>
    <%= render "map", markers: @markers %>
</div>
