<div class="container mt-4">
  <!-- Service Picture -->
  <div class="service-picture mb-4">
    <%= cl_image_tag(@service.service_picture.key, width: 1400, height: 400, crop: :fill, class: "img-fluid") %>
  </div>

  <div class="row">
    <!-- Left Section -->
    <div class="col-md-8">
      <!-- Service Details -->
      <div class="card mb-3">
        <div class="card-body">
          <!-- Flex container for title, description, and icons -->
          <div class="service-details-container d-flex justify-content-between align-items-center mb-2">
            <div>
              <h5 class="card-title mb-0"><%= @service.title %></h5>
              <p class="card-text"><%= @service.description %></p>
            </div>
            <div class="pet_categories">
            <ul class="list-inline">
              <% @service.pet_categories.each do |pet_category| %>
                <li class="list-inline-item">
                  <% pet = pet_category.pet_category.downcase.gsub(' ', '-') %>
                  <%= image_tag "icons/#{pet}.svg", class: "icon icon-tag" %>
                </li>
              <% end %>
            </ul>
          </div>
          </div>
            <br>
            <br>
          <div class="user-info-container d-flex align-items-center">
            <%= cl_image_tag @service.user.profile_picture.key, class: "rounded-circle mr-3", width: 50, height: 50, crop: :fill %>
            <h5 class="card-title mb-0"><%= @service.user.first_name %> <%= @service.user.last_name.chars.first %>.</h5>
          </div>
          <div class="user-about-container" style="padding-left: calc(50px + 15px);">
            <p class="card-text"><%= @service.user.about %></p>
          </div>
        </div>
      </div>


      <div class="map">
        <div class="d-flex mb-3 card">
          <div style="width: 860px; height: 500px;"
                class="custom-map"
                data-controller="map"
                data-map-markers-value="<%= @markers.to_json %>"
                data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
          </div>
        </div>
      </div>

      <!-- Service Reviews -->
      <div class="card mb-3 bg-transparent">
        <div class="card-body">
          <h5 class="card-title mb-3">Reviews</h5>
          <% @service.bookings.each do |booking| %>
            <% if booking.review.present? %>
              <div class="review-card mb-2">
                <div class="d-flex justify-content-between align-items-center align-items-center mb-1">
                  <div class="name-img-reviewer">
                    <%= cl_image_tag(booking.user.profile_picture.key, class: 'rounded-circle mr-2', height: 30, width: 30, crop: :fill) %>
                    <strong><%= booking.user.first_name %> <%= booking.user.last_name.chars.first %>.</strong>
                  </div>
                  <div class="review-rating pt-2">
                    <% rating = booking.review.rating %>
                    <% 5.times do |i| %>
                      <i class="fas fa-star <%= 'text-warning' if i < rating %>"></i>
                    <% end %>
                  </div>
                </div>
                <p class="review-comment mb-1"><%= booking.review.description %></p>
                <small class="text-muted"><%= distance_of_time_in_words(booking.review.created_at, Time.now) %> ago</small>
              </div>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>

    <!-- Right Section (Booking Form) -->
    <div class="col-md-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title mb-3">Book This Service</h5>
          <%= simple_form_for([@service, @service.bookings.new], wrapper: :vertical_form, html: { class: 'form-horizontal' }) do |f| %>
            <%= f.input :date, as: :string, label: 'Choose a date', input_html: { data: { controller: "datepicker" } }, wrapper_html: { class: 'mb-3' }, minute_step: 30 %>
            <%= f.input :start_time, as: :time, label: 'Choose a time', input_html: { class: 'form-control' }, wrapper_html: { class: 'mb-3' }, minute_step: 30 %>
            <p style="font-weight: bold; font-size: 18px">Price: <%= @service.price %> €</p>
            <%= f.button :submit, "Book Now", class: "btn btn-primary btn-lg btn-block" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
