<div class="container mt-4">
<!-- User Card -->
<div class="mb-4 d-flex align-items-center user-card-container">
  <!-- Profile Image -->
  <div class="profile-picture mr-4" style="margin-right: 30px">
    <% if current_user.profile_picture.attached? %>
      <%= cl_image_tag(current_user.profile_picture.key, class: 'user-avatar', height: 150, style: 'border-radius: 50%;') %>
    <% else %>
      <!-- Default avatar image if no profile picture -->
      <img src="https://images.unsplash.com/photo-1529946825183-536c6317f60e?q=80&w=3163&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="Default Avatar" class="user-avatar" style="height: 150px; border-radius: 50%;" />
    <% end %>
  </div>

  <div class="card flex-grow-1">
    <div class="card-body">
      <div class="d-flex justify-content-between">
        <!-- User Info Section -->
        <%= link_to edit_user_registration_path(@user), class: 'edit-icon-user' do %>
          <i class="fa-regular fa-pen-to-square"></i>
        <% end %>
        <div>
          <h2 class="user-name mb-2"><%= @user.first_name %> <%= @user.last_name %></h2>
          <p class="user-info mb-2"><%= @user.address %></p>
          <% if @user.pet %>
            <p>Owner of a <%= @user.pet.pet_category.pet_category %></p>
          <% else %>
            <p>Not yet a pet owner</p>
          <% end %>
          <% if @user.about.present? %>
            <p class="about-section"><%= @user.about %></p>
          <% else %>
            <p class="about-section placeholder-text text-secondary">
              Tell us about yourself, your pet and let people see how amazing you are!
            </p>
          <% end %>
        </div>

        <!-- Ratings Section -->
        <div class="ratings text-right">
          <% average_rating = @user.average_rating %>
          <% if average_rating.positive? %>
            <% 5.times do |i| %>
              <i class="fas fa-star <%= 'text-warning' if i < average_rating %>"></i>
            <% end %>
            <span>(<%= average_rating.round(1) %>)</span>
          <% else %>
            <span class="text-secondary">No reviews yet</span>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="container">
  <!-- Nav tabs -->
  <ul class="nav nav-tabs" id="accountTabs" role="tablist" data-controller="tab">
    <li class="nav-item" role="presentation">
      <button class="nav-link active user-info mb-2" id="my-pet-tab" data-bs-toggle="tab" data-bs-target="#my-pet" type="button" role="tab" aria-controls="my-pet" aria-selected="true" data-tab-target="tab">My Pet</button>
    </li>
    <li class="nav-item" role="presentation">
      <button class="nav-link user-info mb-2" id="my-services-tab" data-bs-toggle="tab" data-bs-target="#my-services" type="button" role="tab" aria-controls="my-services" aria-selected="false" data-tab-target="tab">My Services</button>
    </li>
    <li class="nav-item" role="presentation">
      <button class="nav-link user-info mb-2" id="my-bookings-tab" data-bs-toggle="tab" data-bs-target="#my-bookings" type="button" role="tab" aria-controls="my-bookings" aria-selected="false" data-tab-target="tab">My Bookings</button>
    </li>
    <li class="nav-item" role="presentation">
      <button class="nav-link user-info mb-2" id="my-reviews-tab" data-bs-toggle="tab" data-bs-target="#my-reviews" type="button" role="tab" aria-controls="my-reviews" aria-selected="false" data-tab-target="tab">My Reviews</button>
    </li>
  </ul>

  <!-- Tab panes -->
  <div class="tab-content" id="accountTabsContent">
    <div class="tab-pane fade show active" id="my-pet" role="tabpanel" aria-labelledby="my-pet-tab">
      <!-- My Pet information goes here -->
      <% if @user.pet %>
      <div class="card pet-card mt-4 mb-4">
        <div class="row no-gutters align-items-center">
          <div class="col-md-8">
            <div class="pet-card-body">
              <h5 class="card-title"><%= @user.pet.name %></h5>
              <p class="card-text"><%= @user.pet.pet_category.pet_category %></p>
            </div>
          </div>
          <div class="col-md-4">
            <% if @user.pet.pet_picture.attached? %>
              <%= cl_image_tag(@user.pet.pet_picture.key, class: 'pet-image') %>
            <% else %>
              <img src="https://images.unsplash.com/photo-1574870111867-089730e5a72b?q=80&w=2987&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90oy1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="Default Pet Image" class="pet-image" />
            <% end %>
          </div>
        </div>
      </div>
    <% else %>
      <!-- Display the button to add a pet if no pet is present -->
      <div class="add-pet mt-4" data-controller="modal">
        <!-- Trigger/Open The Modal -->
        <button data-action="click->modal#open" class="btn btn-primary">Add my pet</button>
        <!-- Modal for adding pet -->
        <div data-action="click@window->modal#clickOutside">
          <!-- Modal content -->
          <div class="modal" data-modal-target="modal">
            <div class="modal-content">
              <span data-action="click->modal#close" class="close">&times;</span>
              <h3>Add a New Pet</h3>
              <%= simple_form_for(@pet, html: { class: 'form-modal' }) do |f| %>
                <%= f.error_notification %>
                <%= f.input :name, input_html: { class: 'form-control' } %>
                <%= f.input :pet_category_id, collection: PetCategory.all.pluck(:pet_category, :id), input_html: { class: 'form-select' } %>
                <%= f.input :pet_picture, as: :file, input_html: { class: 'form-control' } %>
                <%= f.submit "Add Pet", class: "btn btn-success" %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    <% end %>
    </div>

    <div class="tab-pane fade" id="my-services" role="tabpanel" aria-labelledby="my-services-tab">
      <!-- My Services information goes here -->
      <div id="my-services">
        <div class="row mt-4">
          <!-- Add Service Button -->
          <%= link_to 'Add a service', new_service_path, class: 'btn btn-primary mb-4' %>
        </div>

        <div class="row">
          <% @services.each do |service| %>
            <div class="col-md-4 mb-3">
              <div class="card" style="position: relative;">
                <%= cl_image_tag service.service_picture.key, background: 'black', aspect_ratio: '2.0', crop: :crop, class: "card-service-provider-image" %>
                <div class="card-body">
                  <div class="service-icons">
                    <%= link_to service_path(service), class: 'view-icon' do %>
                      <i class="fa-regular fa-eye"></i>
                    <% end %>
                    <%= link_to edit_service_path(service), class: 'edit-icon' do %>
                      <i class="fa-regular fa-pen-to-square"></i>
                    <% end %>
                    <%= link_to service_path(service), data: { turbo_method: :delete, turbo_confirm: "Are you sure?" }, class: 'delete-icon' do %>
                      <i class="fa-regular fa-circle-xmark"></i>
                    <% end %>
                  </div>
                  <div class="card-title-and-tags">
                    <div class="card-title-and-rating">
                      <h5 class="card-title" style="margin-bottom: 0;"><%= service.title %></h5>
                      <div style="font-size: 0.8em;">
                        <%# Rating display logic %>
                        <% if service.bookings.count.positive? %>
                          <% average_rating = service.average_rating %>
                          <% 5.times do |i| %>
                            <i class="fas fa-star <%= 'text-warning' if i < average_rating %>"></i>
                          <% end %>
                          <span>(<%= average_rating.round(1) %>)</span>
                        <% else %>
                          <p>No reviews yet.</p>
                        <% end %>
                      </div>
                    </div>
                    <div class="pet_categories">
                      <ul class="list-inline">
                        <% service.pet_categories.each do |pet_category| %>
                          <li class="list-inline-item">
                            <% pet = pet_category.pet_category.downcase.gsub(' ', '-') %>
                            <%= image_tag "icons/#{pet}.svg", class: "icon icon-tag" %>
                          </li>
                        <% end %>
                      </ul>
                    </div>
                  </div>
                  <h5 class="card-service-provider"><%= "#{service.user.first_name} #{service.user.last_name.chars.first}." %></h5>
                  <p class="card-text"><%= service.address %></p>
                  <div class="card-price-and-details-btn">
                    <b class="card-service-price"><%= service.price %> €</b>
                  </div>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>



    <div class="tab-pane fade" id="my-bookings" role="tabpanel" aria-labelledby="my-bookings-tab">
      <!-- My Bookings information goes here -->
      <div id="my-bookings-content">
        <div class="row mt-4">
        <%= link_to 'Book now', services_path, class: 'btn btn-primary mb-4' %>
            <% @bookings.each do |booking| %>
            <div class="col-md-4 mb-3">
              <div class="booking-card">
                <div class="booking-image" style="background-image: url('<%= url_for(booking.service.service_picture) %>');">
                  <div class="booking-icons">
                    <!-- Add icons and links as per your requirement -->
                    <%= link_to edit_booking_path(booking), class: 'edit-icon' do %>
                      <i class="fa-regular fa-pen-to-square"></i>
                    <% end %>
                    <%= link_to booking_path(booking), data: { turbo_method: :delete, turbo_confirm: "Are you sure?" }, class: 'delete-icon' do %>
                      <i class="fa-regular fa-circle-xmark"></i>
                    <% end %>
                  </div>
                </div>
                <div class="booking-details">
                  <h5 class="booking-title"><%= booking.service.title %></h5>
                  <p class="provider-name">
                    <%= booking.service.user.first_name %> <%= booking.service.user.last_name.chars.first %>.
                  </p>
                  <p class="booking-datetime"><%= booking.start_time.strftime("%B %d, %Y %H:%M") %></p>
                  <p class="provider-address"><%= booking.service.address %></p>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>

    <div class="tab-pane fade" id="my-reviews" role="tabpanel" aria-labelledby="my-reviews-tab">
      <!-- My Reviews information goes here -->
      <div id="my-reviews-content">
        <div class="row mt-4">
          <% @user.services.each do |service| %>
            <% service.bookings.each do |booking| %>
              <% if booking.review.present? %>
                <div class="col-md-4 mb-3">
                  <div class="review-card">
                    <div class="reviewer-info">
                      <% if booking.user.profile_picture.attached? %>
                        <%= cl_image_tag(booking.user.profile_picture.key, class: 'reviewer-avatar', height: 40, width: 40, crop: :fill) %>
                      <% else %>
                        <img src="default-avatar-url.jpg" alt="Default Avatar" class="reviewer-avatar" />
                      <% end %>
                      <p class="reviewer-name" style="color:#155946">
                        <%= booking.user.first_name %> <%= booking.user.last_name.chars.first %>.
                      </p>
                      <p class="review-timestamp">
                        <%= distance_of_time_in_words(booking.review.created_at, Time.now) %> ago
                      </p>
                    </div>
                    <div class="review-rating pt-2">
                      <% rating = booking.review.rating %>
                      <% 5.times do |i| %>
                        <i class="fas fa-star <%= 'text-warning' if i < rating %>"></i>
                      <% end %>
                    </div>
                    <p class="review-comment">
                      <%= booking.review.description %>
                    </p>
                    <p class="review-service" style="color:#6459a5">
                      Service: <%= booking.service.title %>
                    </p>
                  </div>
                </div>
              <% end %>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>



  </div>
</div>
</div>
